.goal{
    color: #F37135;
    width: 5vh;
    height: 5.3vh;
    border-radius: 5px;
    padding-top: 7px;
    background-color: #f1f1f1;
   
}
h6{
    color: #1F6B8E;
    font-weight: bold;
    font-size: small;
}
ion-card{
    margin: 1rem !important;
    padding: 0.6rem !important;
}
// .mail{
//     padding-top: 1px !important;
// }