ion-icon{
  font-size: 50px;
}
div h2{
  padding-top: 60px;
  padding-left: 30px;
  color: #7e7e7e;
}
div small{
  padding-left: 30px;

}
ion-label h3{
  color: white;
}

ion-label small{
  color: white;
}
