
<ion-content>
  <ion-header lines="none">
    <ion-toolbar >
      <ion-title>Profile</ion-title>
      <ion-buttons slot="start">
        <ion-button id="cl" (click)="dismissed()">Close</ion-button>
      </ion-buttons>
      <ion-buttons slot="end">
        <ion-button (click)="editPage()">Edit</ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <div style="margin: 2rem" *ngIf="!toggleScreen">
    <ion-label position="stacked"> Username</ion-label>
    <ion-input  mode="ios" [disabled]="true" value="{{userN}}" shape="rectangle" class="login-page-input" type="text" name="username" ></ion-input>
    <ion-label position="stacked">First Name</ion-label>
    <ion-input  mode="ios" shape="rectangle" disabled value="{{firstN}}" class="login-page-input" name="phoneNumber"
               type="text"></ion-input>
    <ion-label position="stacked">Last Name</ion-label>
    <ion-input  mode="ios" shape="rectangle" disabled value="{{second}}" class="login-page-input" name="phoneNumber"
               type="text"></ion-input>
    <ion-label position="stacked">Phone Number</ion-label>
    <ion-input  mode="ios" shape="rectangle" disabled value="{{numberP}}" class="login-page-input" name="pin"  type="tel">
    </ion-input>
  </div>
  <form [formGroup]="form" *ngIf="toggleScreen" (submit)="submit()">
  <div style="margin: 2rem">
    <ion-label position="stacked"> Username</ion-label>
    <ion-input mode="ios"  disabled  shape="rectangle" class="login-page-input" formControlName="userName" type="text"  ></ion-input>
    <ion-label position="stacked">First Name</ion-label>
    <ion-input  mode="ios"shape="rectangle"   class="login-page-input"  formControlName="firstName" type="text"></ion-input>
    <ion-label position="stacked">Last Name</ion-label>
    <ion-input  mode="ios" shape="rectangle" class="login-page-input"  formControlName="lastName" type="text"></ion-input>
    <ion-label position="stacked">Phone Number</ion-label>
    <ion-input shape="rectangle"  class="login-page-input"  formControlName="phoneNumber" inputmode="tel" type="tel">
    </ion-input>
    <ion-button  mode="ios" color="success" class="login-page-button mt-3" expand="block" type="submit" >
      Update</ion-button>
  </div>
  </form>
</ion-content>
