<ion-header>
  <ion-toolbar color="primary" style="padding-right: 1.5rem;">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title style="text-align:center;"> Trip History</ion-title>
    <!-- <img slot="end" class="sw-img" src="/assets/icons/bus.png" alt="dalex-swift" /> -->
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let i of tripResults">
    <ion-item-sliding mode="ios" >
      <ion-item mode="ios">
        <ion-thumbnail slot="start" class="goal text-center">
          <ion-icon name="bus" size="meduim" mode="ios"></ion-icon>
        </ion-thumbnail>
        <ion-label>
          <h6 position="stacked">{{i.locations}}</h6>
          <p position="stacked">{{i.destination}}</p>
        </ion-label>
        <ion-note>GH₵{{i.fares}}</ion-note>
      </ion-item>
      <div class="container">
        <ion-progress-bar color="success" value="0.5"></ion-progress-bar>
        <p slot="start" style="display: inline-block; float: left;">{{i.returnDate}}</p>
        <p style="display: inline-block;float: right;">3days</p>
      </div>
      <ion-item-options>
        <ion-item-option color="primary" style="color: white" (click)="firstEdit(i.tripID, i.locations, i.destination, i.departureDate, i.returnDate,i.requestTime)">EDIT</ion-item-option>
      </ion-item-options>
    </ion-item-sliding>

  </ion-card>



</ion-content>
