<ion-app>
  <!-- <ion-split-pane contentId="main-content" [disabled]="!isLoggedIn">
    <ion-menu contentId="main-content" type="overlay" class="menu-nav" >
      <ion-content >
        <ion-list  lines="none" class="list-nav">
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
            <ion-item no-lines (click)="selectedIndex = i" routerDirection="root" [routerLink]="[p.url]"
              detail="false" [class.selected]="selectedIndex == i">
              <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
              <ion-label>{{ p.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane> -->
  <!-- <ion-tabs >
    <ion-tab-bar slot="bottom" *ngIf="this.router.url === '/login' || this.router.url === '/signup'? show : !show">
      <ion-tab-button tab="track-trip">
        <ion-label>map</ion-label>
        <ion-icon name="location"></ion-icon>
      </ion-tab-button>
      <ion-tab-button tab="dashboard" >
        <ion-label>Dashboard</ion-label>
        <ion-icon name="add-circle"></ion-icon>
      </ion-tab-button>
      <ion-tab-button tab="games">
        <ion-label>Setting</ion-label>
        <ion-icon name="cog"></ion-icon>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs> -->
  <ion-tabs>

    <ion-fab  vertical="bottom" horizontal="center" translucent="true" *ngIf="this.router.url === '/splash' ||this.router.url === '/login' || this.router.url === '/signup'? show : !show">
      <ion-fab-button mode="ios" routerLink="/dashboard">
        <ion-icon mode="ios" name="add-circle"></ion-icon>
      </ion-fab-button>
    </ion-fab>

    <ion-tab-bar mode="ios" slot="bottom" class="ion-no-border" *ngIf="this.router.url === '/splash' ||this.router.url === '/login' || this.router.url === '/signup'? show : !show">

  <ion-tab-button mode="ios" (click)="presentModal()">
        <ion-icon mode="ios" name="person"></ion-icon>
      </ion-tab-button>

  <ion-tab-button mode="ios" tab="track-trip">
        <ion-icon mode="ios" name="compass"></ion-icon>
      </ion-tab-button>

      <svg height="50" viewBox="0 0 100 50" width="100" xmlns="http://www.w3.org/2000/svg"><path d="M100 0v50H0V0c.543 27.153 22.72 49 50 49S99.457 27.153 99.99 0h.01z" fill="red" fill-rule="evenodd"></path></svg>

      <ion-tab-button mode="ios" tab="notifications" class="notifs">
        <ion-icon mode="ios" name="notifications"></ion-icon>
        <ion-badge *ngFor="let i of newData" color="danger">{{newData.length}}</ion-badge>
      </ion-tab-button>
      <ion-tab-button mode="ios" class="comments" (click)="presentActionSheet()">
        <ion-icon mode="ios" name="cog"></ion-icon>
<!--        <ion-badge *ngIf="new_message">{{new_message}}</ion-badge>-->
      </ion-tab-button>


    </ion-tab-bar>
  </ion-tabs>
</ion-app>
