ion-searchbar{
    --background: white;
    --icon-color: #02526e;
    margin: 0px !important;
    padding: 0px !important
}
hr {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  border: 0;
  width: 70px;
  border-top: 1px solid #0ec254;
}


ion-list{
    margin: 0px !important;
    padding: 0px !important;
}
ion-card-header{
margin: 0px !important;
padding: 5px 0px 0px 5px !important;
}
.button-color{

  border-bottom: #0ec254 2px solid;
}
//.inner{
//    margin: 0px 0px 10px 0px !important;
//}
//.btn{
//    border-radius: 25px;
//}
//.grad {
//    height: 200px;
//    background-size:contain;
//    // border-bottom-right-radius: 45px;
//    // border-bottom-left-radius: 45px;
//    //background-image: linear-gradient( 180deg,rgba(15, 15, 15, 0),rgba(240, 240, 240, 0.815)),url("/assets/banner/booking.jpeg");
//    background-repeat: no-repeat;
//  }
  //.main{
  //    transform: translate(0%,-20%);
  //}
