ion-searchbar{
    --background: white;
    --icon-color: #02526e;
    margin: 0px !important;
    padding: 0px !important
}

ion-list{
    margin: 0px !important;
    padding: 0px !important;
}
ion-card-header{
margin: 0px !important;
padding: 5px 0px 0px 5px !important;
}
.inner{
    margin: 0px 0px 10px 0px !important;
}
