/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";


.sw-img{
    width: 5%;
    height: 5%;
}
@media (max-width: 768px) {
    .sw-img{
        width: 15%;
        height: 15%;
    }
}
ion-input{
  --padding-start: 5px !important;
  border: solid 1px rgba(27, 30, 44, 0.801);
  border-radius: 8px;
  margin-bottom: 0.3rem;
}
ion-select{
    border: solid 1px rgba(27, 30, 44, 0.801);
    border-radius: 8px;
    margin-bottom: 0.3rem;
  --padding-start: 5px !important;

}
ion-datetime{
  border: solid 1px rgba(27, 30, 44, 0.801);
  border-radius: 8px;
  --padding-start: 5px !important;
  margin-bottom: 0.3rem;
  color: #0e5778;
}
ion-label{
  color: #0A3A50;
  font-weight: bolder;
  font-size: 11px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
    ion-item{
        font-size: small;
    }
    ion-split-pane{
        --border: none !important;
        ion-menu{
         --background: var(--ion-color-primary) !important;
            ion-content{
                --background: var(--ion-color-primary) !important;

                ion-item{
                    --background: var(--ion-color-primary) !important;
                     --color: #FFFFFF !important;
                    //  ion-icon{ padding-right: 10px !important; }
                }
            }
        }
    }
    ion-content {
        --background: rgba(240, 240, 240, 0.993);
    }
    // .list-nav{
    //     margin-top: 3rem;
    // }
    @media (max-width: 768px) {
    // .menu-nav{
    //     margin-top: 3rem;
    // }
    .list-nav{
        margin-top: 0;
    }
    }
    .header-menu{
        width: 5vh;
        height: 5vh;
        border-radius: 25px;
        background-color: white;
        margin: 1rem;
    }
