<ion-header>
  <ion-toolbar color="primary" style="padding-right: 1.5rem;">
     <ion-buttons slot="start">
  <ion-menu-button></ion-menu-button>
</ion-buttons>
    <ion-title style="text-align:center;">Dashboard</ion-title>
    <!-- <img slot="end" class="sw-img" src="/assets/icons/bus.png" alt="dalex-swift" /> -->
  </ion-toolbar>
</ion-header>


<ion-content fullscreen padding>
  <!-- <div #map id="map"></div> -->
  <!-- <img  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBn30gHlzPINlfeZpaq2C6r4HCPvrwVbrs"/> -->
  <!-- <google-map apiKey="AIzaSyBn30gHlzPINlfeZpaq2C6r4HCPvrwVbrs"></google-map> -->
  <div>
    <h5 style="text-align: center; font-weight: bold;" class="mt-2">Hello {{user}}</h5>
  </div>
  <ion-card  mode="ios">
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="/assets/banner/banner2.png" alt="First slide" >
        </div>
      </div>
    </div>
  </ion-card>
  <h2>Account Summary</h2>
  <ion-grid class="db-sum">
    <ion-row>
      <ion-col size="6">
        <ion-card  mode="ios" class="db-card" routerLink="/trip-history">
          <ion-card-content>
            ToTal Trips
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card  mode="ios" class="db-card" color="primary" routerLink="/booking">
          <ion-card-content style="color: white;">
            Book a Trip
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="6">
        <ion-card  mode="ios" class="db-card" routerLink="/valid-tickets">
          <ion-card-content>
            Valid Tickets
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card  mode="ios" class="db-card" disabled="true">
          <ion-card-content>
            Promo
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <h2>Current Trip</h2>
  <div  *ngFor="let i of tripResults">
    <ion-card  mode="ios" *ngIf="i.returnDate >= dateChecker">
      <ion-item mode="md">
        <ion-thumbnail slot="start" class="goal text-center">
          <ion-icon name="bus" size="meduim" mode="ios"></ion-icon>
        </ion-thumbnail>
        <ion-label>
          <h6 position="stacked">{{i.locations}}</h6>
          <p position="stacked">{{i.destination}}</p>
        </ion-label>
      </ion-item>
      <div class="container">
        <ion-progress-bar color="success" value="1"></ion-progress-bar>
        <p slot="start" style="display: inline-block; float: left;">{{i.departureDate}}</p>
        <p style="display: inline-block;float: right;">{{i.retunrDate}}</p>
      </div>
    </ion-card>
  </div>

</ion-content>
