ion-icon{
    font-size: 25px;
    color:#0ec254;
}
ion-item {
    font-size: small;
    --border-width: 0;
    --inner-border-width: 0;
}

.db-card{
    margin: 0 !important;
}
.db-sum{
    text-transform: uppercase;
}
.db-card ion-card-content{
    color:  #02526e;
    font-size: x-small;
    font-weight: bold;
    text-align: center;
}
h2{
    text-transform: uppercase;
    font-size: small;
    font-weight: bold;
    padding-left: 1rem;
}
h6{
    color:  #02526e;
    font-size: small;
    font-weight: bold;
}
p{
    color:  #02526e;
    font-size: x-small;
    font-weight: bold;
}
.goal{
    color: #0ec254;
    width: 5vh;
    height: 5vh;
    border-radius: 5px;
    padding-top: 10px;
    background-color: #f3f3f3;
}
 ion-content { height: 100%; margin: 0; padding: 0; }
 ion-content {
    #map {
        width: 100%;
        height: 100%;
    }
  }
